[submodule "OPLocationKit/AFNetworking"]
	path = OPLocationKit/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "OPLocationKit/opextensionkit"]
	path = OPLocationKit/opextensionkit
	url = git@brandonwilliams.beanstalkapp.com:/opextensionkit.git
[submodule "OPLocationKit/JSONKit"]
	path = OPLocationKit/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "OPLocationKit/BlocksKit"]
	path = OPLocationKit/BlocksKit
	url = https://github.com/zwaldowski/BlocksKit.git
